<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<!-- Navbar -->
    <div th:replace="fragments/top-menu.html :: top-menu"></div>
    <h1>User Management</h1>

    <!-- Form for Adding or Editing a User -->
    <form th:action="@{/users/save}" th:object="${user}" method="post" autocomplete="off">
    <div>
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{userName}" required />
        </div>
        <div>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" th:field="*{firstName}" required />
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" th:field="*{lastName}" required />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required autocomplete="off"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required autocomplete="off"/>
        </div>
        <div>
            <label for="authority">Authority:</label>
            <select id="authority" th:field="*{role.id}" class="styled-dropdown">
    			<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
			</select>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
     </div>
    </form>

    <!-- Table to Display Users -->
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Authority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role.name}"></td> <!-- 'role' matches the User field -->
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
                    <a th:href="@{/users/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
