<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/weather.css">
    		
</head>
<body>
	<div th:replace="fragments/top-menu.html :: top-menu"></div>
    <h1>Weather Information</h1>

    <!-- Display Error Message if Coordinates are Missing -->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <div class="weather-info">
        <h2>Location</h2>
        <form action="/weather" method="get">
            <label for="lat">Latitude:</label>
            <input type="text" id="lat" name="lat" required>
            <label for="lon">Longitude:</label>
            <input type="text" id="lon" name="lon" required>
            <button type="submit">Get Weather</button>
        </form>
        
		<h2>Weather Data</h2>
        <div th:if="${weather}">
            <p><strong>Latitude:</strong> <span th:text="${lat}"></span></p>
            <p><strong>Longitude:</strong> <span th:text="${lon}"></span></p>
            <p class="temp" th:text="${weather.split('\n')[0]}"></p>
            <p class="condition" th:text="${weather.split('\n')[1]}"></p>
            <p><strong>Humidity:</strong> <span th:text="${weather.split('\n')[2]}"></span></p>
        </div>

        <a href="/weather" class="back-link">Back to the Basic Weather Form</a>
    </div>

</body>
</html>
           <!--lat:31.249624259880456, lon:34.78898813078744 - Beersheba-->